    <div class="card">
        <div class="card-header">
            <h2>{{name}}</h2>
        </div>
        <div class="card-body text-center">
            <i class= "fas fa-glasses"> <h3 class="card-title">{{title}}</h3> </i>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: {{id}} </li>
                    <li class="list-group-item">Email: {{email}}</li>
                    <li class="list-group-item">Github: {{github}} </li>
                </ul>
            </div>
        </div>
    </div>
